---
import Base from '../layouts/Base.astro';
import Hero from '../components/Hero.astro';
import Architecture from '../components/Architecture.astro';
import Infrastructure from '../components/Infrastructure.astro';
import Smoothing from '../components/Smoothing.astro';
import LSTM from '../components/LSTM.astro';
import Methodology from '../components/Methodology.astro';
import Footer from '../components/Footer.astro';
---

<Base>
  <main>
    <Hero />
    <Architecture />
    <Infrastructure />
    <Smoothing />
    <LSTM />
    <Methodology />
  </main>
  <Footer />
</Base>
